*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#colorBody{
    background-color: #212529;
}
.titulos{
    color: white;
    text-align: center;
}
.descripcion{
    color: white;
    text-align: center;
}
.redes{
    text-align: center; 
    padding: 10px;
}
.titulo__footer{
    text-align: center;
    color: white;
}
