*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#colorBody{
    background-color: #212529;
}

#colorBody_cover{
    background-image: url(../img/cover.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 720px) {  
     .contenedor .flex__item .descripcion{
        display: none;
     }
     .footer__condiciones{
        display: none;
     }
}

.color-letra{
    color: white;
}

.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 70px;
}

.descripcion{
    color: white;
    text-align: center;
}

.grilla{
    display: grid;
    color: white;
    margin-left: 1vh;
    gap: 2vh;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.contenedor .flex__item img {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.contacto_{
    display: flex;
}

.contacto{
    color: white;
    padding: 3rem;
}

.footer{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.footer__redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.footer__redes a{
    width: 100%;
    height: auto;
   
}

.footer__pie{
    text-align: center;
    padding: 15px;
    color: white;
}

.footer__condiciones{
    color: white;
    width: auto;
    padding: 1rem;
}


