*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#colorBody{
    background-color: #212529;
}

#colorBody_cover{
    background-image: url(../img/cover.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-letra{
    color: white;
}

.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: auto;
    font-size: 2.5rem;
}

.titulos1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: auto;
    font-size: 2rem;
}

.descripcion{
    color: white;
}

.grilla{
    display: grid;
    color: white;
    margin-left: 1vh;
    gap: 2vh;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.contenedor .flex__item img {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.contacto_{
    display: flex;
    justify-content: space-evenly;
}

.contacto{
    align-content: center;
    color: white;
    padding: 3rem;
}

.descripcion{
    color: white;
    font-size: 1rem;
}

.boton{
    display: inline-block;
    background-color: #212529;
    padding: 5px 15px;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #20c997;
    border-radius: 5px;

}
.boton:hover{
    background-color: #6d7e91;
}
.boton a{
    text-decoration: none;
    color: #20c997;
}




